In [1]:
import pandas as pd
import numpy as np

In [2]:
credits=pd.read_csv('tmdb_5000_credits.csv')
movies=pd.read_csv('tmdb_5000_movies.csv')

In [3]:
print(movies.shape)

(4803, 20)

In [4]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [5]:
print(credits.shape)
credits.head()

(4803, 4)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [6]:
credits.isnull().sum()

movie_id    0
title       0
cast        0
crew        0
dtype: int64

In [7]:
credits=credits[['movie_id','cast','crew']]

In [8]:
credits.rename(columns={'movie_id':'id'},inplace=True)
credits.head()

,id,cast,crew
0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [9]:
df=movies.merge(credits,on='id')

In [10]:
df.sample(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew
2598,0,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 35, ""na...",NaN,37718,"[{""id"": 888, ""name"": ""screenwriter""}, {""id"": 9...",en,The Muse,What happens when a screenwriter (Brooks) lose...,2.857936,"[{""name"": ""October Films"", ""id"": 236}]",...,0,97.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,In Goddess we trust.,The Muse,5.3,31,"[{""cast_id"": 1, ""character"": ""Steven Phillips""...","[{""credit_id"": ""52fe46679251416c91053567"", ""de..."

In [11]:
# General IMDB wala
# Content based system

In [12]:
# weighted rating (WR) = [(v/(v+m)) × R] + [(m/(v+m)) × C]

# Where:

# R = average for the movie (mean) = (rating)

# v = number of votes for the movie = (votes)

# m = minimum votes required to be listed in the Top Rated list (currently 25,000)

# C = the mean vote across the whole report

In [13]:
m=25000
C=df['vote_average'].mean()

In [14]:
def weighted_rating(row,m=m,C=C):
    
    R=row['vote_average']
    v=row['vote_count']
    
    return ((v/(v+m))*R) + ((m/(v+m))*C)

In [15]:
df['wr']=df.apply(weighted_rating,axis=1)

In [16]:
df[['title','wr']].sort_values('wr',ascending=False)

                             title        wr
96                       Inception  6.804694
65                 The Dark Knight  6.775869
95                    Interstellar  6.700504
662                     Fight Club  6.696080
1881      The Shawshank Redemption  6.687149
...                            ...       ...
210                 Batman & Robin  5.990608
1154          Fifty Shades of Grey  5.989421
91    Independence Day: Resurgence  5.984147
337         A Good Day to Die Hard  5.982799
242                 Fantastic Four  5.950857

[4803 rows x 2 columns]

In [17]:
# Important cols for content based filtering

# 1. Genre
# 2. keywords
# 3. overview
# 4. cast
# 5. crew

In [18]:
df['original_language'].value_counts()

en    4505
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
cn      12
ko      11
ru      11
pt       9
da       7
sv       5
nl       4
fa       4
he       3
th       3
cs       2
id       2
ta       2
ro       2
ar       2
is       1
no       1
te       1
ps       1
hu       1
vi       1
sl       1
pl       1
ky       1
xx       1
el       1
tr       1
af       1
nb       1
Name: original_language, dtype: int64

In [19]:
def recommend(movie_name):
    pass

In [20]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(stop_words='english')

In [21]:
df['overview'].fillna(' ',inplace=True)

In [22]:
overview_matrix=cv.fit_transform(df['overview']).toarray()

In [23]:
overview_matrix

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [24]:
def recommend(movie_name):
    # find the index of this movie
    index_pos=df[df['title']==movie_name].index[0]
    
    # calulate similarity
    recommended_movie_index=sorted(list(enumerate(similarity_score[index_pos])),reverse=True,key=lambda x:x[1])[1:6]
    
    # movie name from index
    
    for i in recommended_movie_index:
        print(df.iloc[i[0]].title)

In [25]:
recommend('Harry Potter and the Prisoner of Azkaban')

NameError: name 'similarity_score' is not defined

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity_score=cosine_similarity(overview_matrix)

In [ ]:
similarity_score

In [ ]:
sorted(list(enumerate(similarity_score[200])),reverse=True,key=lambda x:x[1])[1:11]

In [ ]:
df.iloc[15].title

In [ ]:
df.columns

In [ ]:
df[['title','cast','crew','genres','keywords']]['cast'][0]

In [ ]:
['Action','Adventure','Science Fiction']

In [ ]:
# genres
from ast import literal_eval

In [ ]:
def clean_genre(x):
    genre=[]
    for i in literal_eval(x):
        genre.append(i['name'])
    return genre

In [ ]:
df['genres']=df['genres'].apply(clean_genre)

In [ ]:
df[['title','cast','crew','genres','keywords']]

In [ ]:
def clean_keyword(x):
    keywords=[]
    for i in literal_eval(x):
        keywords.append(i['name'])
    return keywords

In [ ]:
df['keywords']=df['keywords'].apply(clean_keyword)

In [ ]:
df['keywords']

In [ ]:
def clean_crew(x):
    for i in literal_eval(x):
        if i['job']=='Director':
            return i['name']

In [ ]:
df['crew']=df['crew'].apply(clean_crew)

In [ ]:
df['crew']

In [ ]:
def clean_cast(x):
    actor=[]
    count=0
    for i in literal_eval(x):
        if count<4:
            actor.append(i['name'])
            count+=1
        else:
            return actor

In [ ]:
df['cast']=df['cast'].apply(clean_cast)

In [ ]:
df['crew'][0]

In [ ]:
def clean(x):
    
    y=[]
    
    if type(x)==list:
        
        for i in x:
            
            i=i.lower()
            i=i.replace(" ","")
            y.append(i)
            
        return y
    if type(x)==str:
        
        x=x.lower()
        x=x.replace(" ","")
        
        return x

In [ ]:
features=['cast','crew','genres','keywords']

for i in features:
    
    df[i]=df[i].apply(clean)

In [ ]:
df[['cast','crew','genres','keywords']]

In [ ]:
def merge_cols(x):
    y=""
    
    y = y + x['crew'] + " " + " ".join(x['cast']) + " " + " ".join(x['genres']) + " " + " ".join(x['keywords'])
    
    return y

In [ ]:
df.dropna(subset=['cast','crew'],inplace=True)

In [ ]:
df['all']=df.apply(merge_cols,axis=1)

In [ ]:
cv=CountVectorizer(stop_words='english')

In [ ]:
movie_matrix=cv.fit_transform(df['all']).toarray()

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity_matrix=cosine_similarity(movie_matrix)

In [ ]:
def recommend(movie_name):
    # find the index of this movie
    index_pos=df[df['title']==movie_name].index[0]
    
    # calulate similarity
    recommended_movie_index=sorted(list(enumerate(similarity_matrix[index_pos])),reverse=True,key=lambda x:x[1])[1:11]
    
    # movie name from index
    
    for i in recommended_movie_index:
        print(df.iloc[i[0]].title)

In [ ]:
recommend('The Shawshank Redemption')